doctype html
head
    meta(charset='UTF-8')
    link#cssSheet(href='http://localhost:4131/css/main.css' rel='stylesheet')
    script(src='http://localhost:4131/js/main.js')
    script(src='http://localhost:4131/js/contact.js')
    title Confirmation
    .navbar
        .card
            a(href='http://localhost:4131/main') The Hotel
        .card
            a(href='http://localhost:4131/testimonies') Testimonies
        .card
            a(href='http://localhost:4131/contact') Contact Form
        .card
            a(href='http://localhost:4131/admin/contactlog') Contact Log
        .card
            a(onclick='toggle_style()')  Dark Mode 
    h1 Form Submitted
